:root {
  --primary-color: rgb(7, 123, 173);
  --primary-color-dark: rgb(7, 104, 145);
}

* {
  box-sizing: border-box;
  outline: none;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
  margin: 0;
  padding: o;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: .5rem;
  box-shadow: .1rem .2rem 1rem rgba(0, 0, 0, 0.462);
}

form input, form label, form button {
  width: 90%;
  display: block;
  margin-bottom: .8rem;
  margin: auto;
}

form label {
  text-align: start;
}

form input {
  font-size: 16pt;
  height: 3rem;
  padding: 0 1.4rem;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 15pt;
  font-weight: 700;
  height: 3rem;
  cursor: pointer;
  transition: .2s;
  margin-top: 1rem;
}

form button:hover {
  background-color: var(--primary-color-dark);
}

#res {
  display: block;
  text-align: center;
  font-size: 18pt;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  padding: .3rem 1.2rem;
}

.examples {
  font-size: 12pt;
  text-align: start;
}

.examples p {
  margin: 0;
  padding: 0;
  text-align: start;
  font-weight: bolder;
}

.examples code {
  text-align: start;
  font-size: 10pt;
  color: crimson;
  background-color: #f1f1f1;
}